


.notification{
    width: 320px;
    height: 50px;
}
.notification p
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffcccc;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    
}