@media (min-width: 1921px) {
  .background-contact {
    background: none;
  }

  .background-sobre {
    background: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1025px) and (max-width: 1366px) {
  .main-img img {
    width: 550px;
  }

  .mapa {
    width: 40%;
  }
  .main-text h1 {
    font-size: 8rem;
    line-height: 7rem;
  }

  .main-text h3 {
    font-size: 4rem;
    width: 18rem;
  }

  .main-text button {
    width: 18rem;
    margin-top: 2rem;
  }

  /* About us */

  .section-text h1 {
    font-size: 3rem;
  }
  .section-text #aboutText
  {
    max-height: 50vh;
  }
  .section-text p {
    font-size: 1.2rem;
  }

  .section-text button {
    width: 8rem;
  }
  .wrapper{
    bottom: 60px;
  }
}
/* generic */

@media (max-width: 1024px){
  /* Home*/
  header {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .hamburguer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;

    position: fixed;
    right: 4rem;

    color: #fff;

    cursor: pointer;

    z-index: 10;
  }

  .hamburguer-menu span {
    display: block;
  }

  .menu-wrapper ul {
    overflow: hidden;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    font-size: 4rem;

    background: var(--light-blue);

    align-items: center;
    z-index: 1;

    left: 100%;

    transition: all 1s;
  }

  .menu-wrapper ul.show {
      left: 0%;
    }
  
   .hamburguer-menu {
      gap: 5px;
      transition: all 1s;
      right: 4rem;
    }
  
    .hamburguer-menu.rotate {
      gap: 0px;
      right: calc(90vw);
    }
  
    .hamburguer-menu span {
      transform: rotate(0deg);
    }
  
    .hamburguer-menu span.rotate0 {
      transform: rotate(-40deg);
      width: 15px;
    }
    .hamburguer-menu span.rotate1 {
      transform: translateX(6px);
      top: 1.5px;
    }
    .hamburguer-menu span.rotate2 {
      transform: rotate(40deg);
      position: absolute;
  
      top: 8.2px;
      width: 15px;
    }

  .menu-wrapper ul a + a {
    margin: 0;
  }

  .menu-wrapper ul li {
    font-size: 2.3rem;
  }

  .logo-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
  }

  /* home  */

  .main-wrapper {
    height: calc(100vh - 100px);
    margin-top: 100px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
  }
  .main-text h1 {
    width: 100%;
    text-align: left;
    font-size: 6rem;
    line-height: 5rem;
  }

  .main-text h3 {
    font-size: 3.4rem;
    max-width: 30rem;
  }

  .main-text button {
    width: 15rem;

    font-size: 1.4rem;

    color: var(--dark-blue);

    margin-top: 2rem;

    box-shadow: 10px 10px 1px var(--cian);

    align-self: left;
  }

  .main-text h1 {
    width: 100%;
    text-align: left;
    font-size: 6rem;
    line-height: 5rem;
  }

  .main-text h3 {
    font-size: 3.4rem;
  }

  .main-text button {
    width: 15rem;
  }

  .main-img{
    display: none;
  }

  .instagram-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .instagram-carousel {
    max-width: 90%;
  }

  .instagram-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding-left: 1rem;
  }

  .instagram-text h1{
    font-size: 2rem;
  }

  .instagram-text p {
    font-size: 1.2rem;
  }

  .main-wrapper {
    justify-content: space-between;
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    height: 80px;
    overflow: hidden;
    font-size: 1rem;
  }

  /* about us */

  .section-wrapper {
    flex-direction: column;

    margin-top: 120px;
    text-align: left;
    padding: 0;
  
  }

  .section-video {
    box-shadow: none;
    height: 100%;
  }


  .background-contact{
    background: none;
  }
  .background-sobre{
    background: none;
  }
  .section-video iframe {
    display: block;
    height: 50vh;
   
  }

  .section-text {
    padding: 0 2rem;
    gap: 1rem;
  }

  .section-text h1 {
    font-size: 3rem;
  }

  .section-text p{
    font-size: 1.1rem;
    max-height: 80vh;
  }

  .section-text #aboutText{
    width: 100%;
    color: var(--light-blue);
    font-size: 1.2rem;
    text-align: justify;
    max-height: 45vh;
    overflow-y: scroll;
  }
  

  /*contact page*/
  .menu-contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;
  }
  

  .wrapper{
    bottom: 20px;
  }
  /* Documents page */

  .owl-carousel {
    position: relative;
    z-index: 1;
    flex-wrap: nowrap;
  }

  .owl-stage {
    display: flex;
    gap: 0rem;
  }

  .document-box {
    position: relative;
    z-index: 0;
  }

  .section-video {
    width: 100%;
  }

  .editais-wrapper p {
    font-size: 1.35rem;
    max-width: 90vw;
  }

  .editais-wrapper h1 {
    font-size: 3.5rem;
  }

  .rules-wrapper h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .rules-wrapper p {
    font-size: 1.35rem;
    max-width: 90vw;
  }

  .documents-page {
    height: calc(100vh);
    padding: 2rem 0rem;
  }

  .documents-wrapper {
    justify-content: space-between;
    padding: 0 2rem;
    margin-left: 0;
  }

  .owl-theme .owl-nav {
    width: 100%;
  }


  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /*Home*/

    .section-text h1 {
      font-size: 3rem;
    }

    /* contact */
    .wrapper{
      bottom: 20px;
    }
    .menu-contact-wrapper {
      flex-direction: row;
      justify-content: center;
      padding: 0 1rem;
      gap: 2rem;
    }
    /*about us*/
    .section-video iframe {
      width: 100%;
      margin-top: 2rem;
      justify-content: center;
    }
  
    /*contact*/
    
    /* documents */

    .documents-wrapper {
      padding: 0;
      justify-content: center;
      padding: 4rem 0px 0px 150px;
      width: 100%;
      margin-top: 40px;
      gap: 2rem;
    }

    
    .text-mapa p {
      font-size: 1.5rem;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Home*/

    .main-text h3 {
      font-size: 5rem;
    }

    .main-text button {
      margin-top: 4rem;
    }
    /* contact */

    .menu-contact-wrapper {
      height: 75vh;
    }

    .text-mapa {
      width: 100%;
      padding: 0 8rem;
    }

    .text-mapa p {
      font-size: 1.5rem;
    }
    .text-mapa h1 {
      font-size: 3rem;
    }

    .mapa {
      width: 100%;
      padding: 0 8rem;
    }

    .wrapper {
      bottom: 20px;
    }
    /* document page */

    .documents-wrapper {
      padding: 4rem 100px;
    }
  }

  @media (max-width: 767.98px) {
    .background-contact{
      background: none;
    }
    .background-sobre{
      background: none;
    }
    .menu-contact-wrapper {
      gap: 1rem;
      height: 75vh;
    }
    .text-mapa {
      width: 100%;
    }

    .text-mapa h1 {
      font-size: 2.9rem;
      width: 100%;
    }

    .text-mapa p {
      font-size: 1.5rem;
    }

    .text-mapa .ps {
      max-width: 100%;
    }

    .ps {
      margin: 0;
      margin-top: 20px;
    }

    .text-mapa .ps p {
      font-size: 1.2rem;
      word-wrap: break-word;
    }

    .mapa {
      width: 100%;
    }

    .social-media {
      position: relative;
    }

    .wrapper {
      position: relative;
      bottom: 20px;
    }

    /* documents */

    .owl-stage {
      display: flex;
      gap: 0.2rem;
    }

    .documents-wrapper {
      margin-top: 120px;
      height: unset;
    }

    .documents-wrapper h1 {
      font-size: 3rem;
    }

    .main-img {
      display: none;
    }

    .documents-wrapper h2 {
      font-size: 2rem;
    }
  }

  /* some fixes */

  @media (min-width: 576px) and (max-width: 768px) {
    .menu-contact-wrapper {
      gap: 2rem;
    }

    .mapa {
      padding: 0 4rem;
    }

    .text-mapa {
      padding: 0 4rem;
    }

    .wrapper {
      bottom: 20px;
    }
  }
}

@media (max-width: 575.98px) {
    /* Home */

  .main-text h3 {
    max-width: 20rem;
  }

  /* about us */
  .see-more button{
    font-size: 1rem;
    font-weight: 100;
  }
  .menu-contact-wrapper {
    padding: 40px 1rem;
    margin-top: 100px;
    height: 70vh;
  }
  .wrapper .icon span{
    width: 40px;
    height: 40px;
  }
  .wrapper .icon span i{
    line-height: 45px;
    font-size: 20px;
  }

  .text-mapa h1 {
    font-size: 2.2rem;
    line-height: 0.8rem;
  }

  .text-mapa p {
    font-size: 1.2rem;
  }

  .text-mapa .ps p {
    font-size: 1rem;
  }

  .wrapper {
    bottom: 10px;
    width: 90%;
  }
}
 /* extra small devices */

 @media (max-width: 320px) {


  .documents-wrapper h1 {
    font-size: 2.5rem;
  }

  .documents-wrapper p {
    font-size: 1.5rem;
    max-width: 200px;
    word-wrap: break-word;
  }
  .text-mapa h1{
    line-height: 2rem;
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .menu-contact {
    overflow: hidden;
  }

  .menu-contact-wrapper{
    height: calc(70vh - 30px);
    
  }
  .wrapper{
    bottom: 50px;
  }
  .header-wrapper{
    height: 80px;

  }
  .logo-wrapper{
    width: 100px;
    height:81px;
}
.menu-contact-wrapper{
  margin: 80 0px;
}

#logo{
  width: 70px;
}
.btn{
  width: 40%;
}
.section-text #aboutText{
  max-height: 63vh;
}

.owl-theme .owl-nav {
  width: 95%;
}
}
@media(max-width:280px){

/* home */

  .main-wrapper {
    padding: 0 1.5rem;
  }

  .main-wrapper h3 {
    margin-top: 1rem;
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .main-wrapper button{
    width: 14rem;
  }

  .wrapper{
    bottom: -4px;
  }
  .menu-contact-wrapper{
    height: 80vh;
  }

}

@media (max-width: 992px) and (orientation: landscape) {
  .text-mapa h1{
    font-size: 1.5rem;
    color: var (--dark-blue);
    margin-bottom: 1rem;
  }
  .social-media{
    bottom: 10px;
  }
  .wrapper{
    bottom: 10px;
  }
  .mapa{
    margin-top: 1rem;
  }
  .wrapper .icon span{
    width: 40px;
    height: 40px;
  }
  .wrapper .icon span i{
    line-height: 45px;
    font-size: 20px;
  }
  .menu-contact-wrapper{
    height: 150vh;
  }
}
