/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1366px) { 
  .mapa{
    width: 40%
  }
 }
 /*Generic*/
@media (max-width:1024px){
  /* Home*/
  header {
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .hamburguer-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 4rem;

    color: #fff;

    cursor: pointer;

    z-index: 10;
  }


  .menu-wrapper ul {
    overflow: hidden;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    font-size: 4rem;

    background: var(--light-blue);
    
    align-items: center;
    z-index: 1;

    margin-left: 100%;
}

  .menu-wrapper ul a + a {
    margin: 0;
    
  }

  .close-menu {
    animation-name: closeMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
  }

  @keyframes closeMenu {
    from {
      margin-left: 0%;
    }

    to {
      margin-left: 100%;
    }
  }
  
  .show-menu {
   animation-name: showMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
  }

  @keyframes showMenu {
    from{
    margin-left: 100%;
  }

  to{
      margin-left: 0%;
  } 
}

.logo-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
}

.main-wrapper {
  height: 100vh;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-text h1{
  width: 100%;
  text-align: left;
  font-size: 6rem;
  line-height: 5rem;
}

.main-text h3{
  font-size: 3.4rem;
}

.main-text button{
  width: 15rem;

  font-size: 1.4rem;

  color: var(--dark-blue);
  
  margin-top: 2rem;

  box-shadow: 10px 10px 1px var(--cian);

  align-self: left;
}

/* about us */

.section-wrapper{
  flex-direction: column;
  height:fit-content ;
  justify-content: flex-start;
  margin-top: 8rem;
  text-align: left;
}

.section-video {
  width: 100%;
  margin-bottom: 2rem;
}

.section-video iframe
{
  width: 100%;
  height: 35vh;
  margin-top: 2rem;
}
.section-text h1{
  font-size: 30px;
}

/*contact page*/
.menu-contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
 }
/* Documents page */

.owl-carousel {
  position: relative;
  z-index: 1;
  flex-wrap: nowrap;
}

.owl-stage {
  display: flex;
  gap: 2rem;
}

.document-box { 
  position: relative;
  z-index: 0;

  width: 14rem;
  height: 14rem;
  margin-top: 1rem;
  
}

.documents-wrapper {
  margin-top: 100px;
  padding: 1rem 10%;
  gap: 1rem;
}

.editais-wrapper p
{
  font-size: 1.35rem;
  max-width: 90vw;
}

.editais-wrapper h1 {
  font-size: 3.5rem;
 
}

.rules-wrapper h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
}



.rules-wrapper p {
  font-size: 1.35rem;
  max-width: 90vw;
}

.documents-page {
  height: calc(100vh);
}

.documents-wrapper{
  margin-top: 150px;
 justify-content: space-between;
}

.document-box .document-description {
 width: 5rem;
 height: 5rem;

 display: flex;
 justify-content: center;

 position: relative;
 top: -1rem;
 right: -.4rem;
}
}
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px){ 
  /*Home*/
  .main-img img{
    width: 70%;
  }
  
  .text-mapa h1{
    font-size: 3rem;
    margin-bottom: 0;
  }
  .text-mapa p{
    font-size: 1.5rem;
  }
  /*about us*/
  .section-text h1{
    font-size: 4rem;
  }
  .section-text p{
    font-size: 1.5rem;
  }
  .section-video{
    width: 80%;
  }
  /* contact */
  .menu-contact-wrapper{
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
  }
  .text-mapa{
    margin-bottom: 2rem;
  }
  .owl-stage {
    display: flex;
    gap: 2rem;
  }
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
  
  /* Home*/

  .main-img {
    margin-top: 100px;
  }

 .main-img img {
  width: 85%;
  position: absolute;
  bottom: 0;
}

 .main-text h3 {
  font-size: 5rem;
}

 .main-text button {
  margin-top: 4rem;
}
  /*about us*/
.text-mapa p{
  font-size: 1.5rem;
}
.text-mapa h1{
  font-size: 2.5rem;
}

.mapa{
  width:72%;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768.99){ 
}

@media (max-width: 575.98px) { 
  
}
/* iphone 5 < */
@media (max-width: 320px) {
  .owl-stage {
    display: flex;
    gap: 8rem;
  }
  .rules-wrapper h1 {
    font-size: 3.2rem;
  }
}
