* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #272d5f;
  --light-blue: #2a4b9a;
  --cian: #6fc1b6;
  --yellow: #f7cd3b;
}
a{
  text-decoration: none;

}
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--dark-blue);
}

.btn {
  width: 40%;
  height: 2rem;

  color: var(--dark-blue);
  background: var(--yellow);

  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn a {
  color: var(--dark-blue);
}


.btn:hover {
  filter: brightness(0.8);
}

.header-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hamburguer-menu{
  display: none;
}

.logo-wrapper {
  position: relative;
  left: -5rem;

  width: 140px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}

#logo {
  width: 80px;
}

.menu-wrapper ul {
  list-style: none;

  display: flex;
}

.menu-wrapper ul li {
  font-size: 1.4rem;
  color: white;

  transition: color 0.3s;
}

.menu-wrapper ul a + a {
  margin-left: 1rem;
}

.menu-wrapper ul li:hover {
  color: var(--yellow);
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2.5rem;
}

.main-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-text h1 {
  font-size: 12rem;
  line-height: 12rem;
  text-transform: uppercase;
  color: var(--dark-blue);
}

.main-text h3 {
  font-size: 6rem;

  line-height: 4rem;
  color: var(--light-blue);
}

.main-text button {
  background: var(--yellow);

  font-size: 1.5rem;

  width: 20rem;
  height: 4rem;

  color: var(--dark-blue);

  cursor: pointer;

  border-radius: 8px;
  border: 0;

  margin-top: 6rem;



  transition: filter 0.3s;
  transition: box-shadow 0.2s;
}

.main-text button:hover {
  filter: brightness(0.9);
  box-shadow: 10px 10px 1px var(--cian);
}

.main-img{
  flex: 1;
}

.main-img img {
  position: absolute;
  bottom: 0rem;
  width: 30rem;
}

.section-wrapper{
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.section-text{
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column; 
  gap: 2rem;
    
}
.section-text h1{
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 80px;
}
.section-text p{
  width: 100%;
  color: var(--dark-blue);
  font-size: 18px;
  text-align: justify;
  
}
.section-video{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe{
width:85%;
}

@media (max-width: 812px) {
  
  /* Home*/

  header {
    position: fixed;
  }

  .hamburguer-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 4rem;

    color: #fff;

    cursor: pointer;

    z-index: 2;
  }


  .menu-wrapper ul {
    overflow: hidden;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    font-size: 4rem;

    background: var(--light-blue);
    
    align-items: center;
    z-index: 1;

    margin: 0;
}

  .menu-wrapper ul a + a {
    margin: 0;
    
  }

  .close-menu {
    animation-name: closeMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
  }

  @keyframes closeMenu {
    from {
      margin-left: 0%;
    }

    to {
      margin-left: 100%;
    }
  }
  
  .show-menu {
   animation-name: showMenu;
   animation-duration: 1s;
   animation-fill-mode: forwards;
  }

  @keyframes showMenu {
    from{
      margin-left: 100%;
    }

    to{
      margin-left: 0%;
  }
  }

  .logo-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
  }

  .main-wrapper {
    margin-top: 8rem;
  }

  .main-img{
    display: none;
  }
  
  .main-text h1{
    font-size: 8rem;
    line-height: 7rem;
  }

  .main-text h3{
    font-size: 4rem;
  }

  .main-text button{
    width: 15rem;

    font-size: 1.4rem;

    color: var(--dark-blue);
    
    margin-top: 4rem;

    box-shadow: 10px 10px 1px var(--cian);
  }

  /* about us */

  .section-wrapper{
    flex-direction: column;
    margin-top: 8rem;
    text-align: left;
  }
  iframe
  {
    width: 100%;
    height: 35vh;
    margin-top: 2rem;
  }
  .section-text h1{
    font-size: 30px;
  }
  
  }
}
/* contact */
.menu-contact{
  display: flex;
  height: calc(100vh - 100px);
}
.menu-text-contact {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin-right: 30px;
  text-align: left;
 
}
.menu-text-contact h3{
  color: #272d5f;
}
.text-mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  height:  calc(100vh - 180px);
  margin-bottom: -10vh; 
}
.mapa{
  width: 500px;
  height: 35vh;
}
.mapa iframe{
  width: 100%; 
  height: 100%;
}
.menu-text-contact h1 {
  font-size: 4rem;
  color: var(--dark-blue);
  line-height: 2rem;
  margin-bottom: 1rem;
}
.menu-text-contact p{
  font-size: 1.5rem;
  color: var(--light-blue);
}
.ps{
  margin-top: 2rem;
}
.wrapper{
  display: flex;
  flex-direction: row;
  width:  100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}
.wrapper a {
  width: 30px;
  margin: 0 auto;
  color:var(--dark-blue)
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3B5999;

}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background: #DE463B;
}
@media (max-width: 812px){
  /* Contact responsive*/
  .menu-contact{
    flex-direction: column ;
  }
  .menu-text-contact{
    margin-right: 1px;
    margin-top: 20rem;
  }
  .menu-text-contact p{
    font-size: 16px;
  }
  .text-mapa{
    flex-direction: column;
    padding-bottom: 4vh;
    height: calc(100vh - 250px);
    padding-bottom: 50px;
  }
  .mapa{
    width: 100%;
  }
  .menu-text-contact h1{
    font-size: 2.5rem;
    line-height: 0rem;
  }
  .menu-text-contact p{
      line-height: 1.5;   
  }

}